.form-box{
    width: 380px;
    height: 480px;
    margin: 6% auto;
    background: #0088A9;
    padding: 5px;
    border-style: double;
    border-color: #FFD700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.form-header {
    text-align: center;
    text-shadow: 0 0 2px #FFD700;
}

.toggle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.toggle-btn {
    padding: 9px 25px;
    background-color:rgba(255,215,0,1);
    border: none ;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-shadow: 0 0 8px black;
}

.toggle button:hover {
    background-color: rgba(255,215,0,0.9);
}
